In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import scipy.stats as stats
import matplotlib.pyplot as plt

In [6]:
loan_data = pd.read_csv(r"C:\Users\divya\Downloads\AnalytixLabs\4. Basic Statistics - Hypothesis Testing\LoansData.csv")

In [7]:
loan_data.head()

,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
0,20000.0,20000.0,8.90%,36 months,debt_consolidation,14.90%,SC,MORTGAGE,6541.67,735-739,14.0,14272.0,2.0,< 1 year
1,19200.0,19200.0,12.12%,36 months,debt_consolidation,28.36%,TX,MORTGAGE,4583.33,715-719,12.0,11140.0,1.0,2 years
2,35000.0,35000.0,21.98%,60 months,debt_consolidation,23.81%,CA,MORTGAGE,11500.00,690-694,14.0,21977.0,1.0,2 years
3,10000.0,9975.0,9.99%,36 months,debt_consolidation,14.30%,KS,MORTGAGE,3833.33,695-699,10.0,9346.0,0.0,5 years
4,12000.0,12000.0,11.71%,36 months,credit_card,18.78%,NJ,RENT,3195.00,695-699,11.0,14469.0,0.0,9 years

In [8]:
loan_data.info

<bound method DataFrame.info of       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
0              20000.0                    20000.00         8.90%   36 months
1              19200.0                    19200.00        12.12%   36 months
2              35000.0                    35000.00        21.98%   60 months
3              10000.0                     9975.00         9.99%   36 months
4              12000.0                    12000.00        11.71%   36 months
...                ...                         ...           ...         ...
2495           30000.0                    29950.00        16.77%   60 months
2496           16000.0                    16000.00        14.09%   60 months
2497           10000.0                    10000.00        13.99%   36 months
2498            6000.0                     6000.00        12.42%   36 months
2499            9000.0                     5242.75        13.79%   36 months

            Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
0     debt_consolidation               14.90%    SC       MORTGAGE
1     debt_consolidation               28.36%    TX       MORTGAGE
2     debt_consolidation               23.81%    CA       MORTGAGE
3     debt_consolidation               14.30%    KS       MORTGAGE
4            credit_card               18.78%    NJ           RENT
...                  ...                  ...   ...            ...
2495  debt_consolidation               19.23%    NY       MORTGAGE
2496    home_improvement               21.54%    MD            OWN
2497  debt_consolidation                4.89%    PA       MORTGAGE
2498      major_purchase               16.66%    NJ           RENT
2499  debt_consolidation                6.76%    NY           RENT

      Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
0            6541.67    735-739               14.0                   14272.0
1            4583.33    715-719               12.0                   11140.0
2           11500.00    690-694               14.0                   21977.0
3            3833.33    695-699               10.0                    9346.0
4            3195.00    695-699               11.0                   14469.0
...              ...        ...                ...                       ...
2495         9250.00    705-709               15.0                   45880.0
2496         8903.25    740-744               18.0                   18898.0
2497         2166.67    680-684                4.0                    4544.0
2498         3500.00    675-679                8.0                    7753.0
2499         3875.00    670-674                7.0                    7589.0

      Inquiries.in.the.Last.6.Months Employment.Length
0                                2.0          < 1 year
1                                1.0           2 years
2                                1.0           2 years
3                                0.0           5 years
4                                0.0           9 years
...                              ...               ...
2495                             1.0           8 years
2496                             1.0         10+ years
2497                             0.0         10+ years
2498                             0.0           5 years
2499                             0.0         10+ years

[2500 rows x 14 columns]>

In [10]:
loan_data['Interest.Rate'].value_counts()

Interest.Rate
12.12%    122
7.90%     119
13.11%    115
15.31%     76
14.09%     72
         ...
11.09%      1
23.33%      1
14.18%      1
18.62%      1
19.04%      1
Name: count, Length: 275, dtype: int64

In [21]:
loan_data['Amount.Requested'].value_counts()

Amount.Requested
10000.0    206
12000.0    151
5000.0     110
20000.0    107
6000.0     103
          ...
1675.0       1
16550.0      1
31075.0      1
9550.0       1
8475.0       1
Name: count, Length: 381, dtype: int64

In [22]:
loan_data.nunique()

Amount.Requested                   381
Amount.Funded.By.Investors         711
Interest.Rate                      275
Loan.Length                          2
Loan.Purpose                        14
Debt.To.Income.Ratio              1669
State                               46
Home.Ownership                       5
Monthly.Income                     633
FICO.Range                          38
Open.CREDIT.Lines                   29
Revolving.CREDIT.Balance          2350
Inquiries.in.the.Last.6.Months      10
Employment.Length                   11
dtype: int64

In [25]:
loan_data.groupby('Interest.Rate')['Amount.Requested'].mean()

Interest.Rate
5.42      7206.818182
5.79      6451.785714
5.99      5722.500000
6.00      6400.000000
6.03      9365.789474
             ...
23.91    20000.000000
24.20    24000.000000
24.33    30000.000000
24.70    28000.000000
24.89    21000.000000
Name: Amount.Requested, Length: 275, dtype: float64

In [26]:
loan_data.describe()

,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Monthly.Income,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months
count,2500.000000,2500.000000,2500.000000,2500.000000,2500.000000,2500.000000,2500.000000
mean,12405.462185,12002.374186,13.064632,5688.931321,10.070400,15223.184622,0.905600
std,7801.372299,7745.217219,4.175615,3962.325165,4.505282,18270.038964,1.230811
min,1000.000000,-0.010000,5.420000,588.500000,2.000000,0.000000,0.000000
25%,6000.000000,6000.000000,10.160000,3500.000000,7.000000,5589.250000,0.000000
50%,10000.000000,10000.000000,13.110000,5000.000000,9.000000,10977.500000,0.000000
75%,17000.000000,16000.000000,15.800000,6800.000000,13.000000,18843.750000,1.000000
max,35000.000000,35000.000000,24.890000,102750.000000,38.000000,270800.000000,9.000000

In [27]:
loan_data.isna().sum()

Amount.Requested                  0
Amount.Funded.By.Investors        0
Interest.Rate                     0
Loan.Length                       0
Loan.Purpose                      0
Debt.To.Income.Ratio              0
State                             0
Home.Ownership                    0
Monthly.Income                    0
FICO.Range                        0
Open.CREDIT.Lines                 0
Revolving.CREDIT.Balance          0
Inquiries.in.the.Last.6.Months    0
Employment.Length                 0
dtype: int64

In [29]:
loan_data.columns

Index(['Amount.Requested', 'Amount.Funded.By.Investors', 'Interest.Rate',
       'Loan.Length', 'Loan.Purpose', 'Debt.To.Income.Ratio', 'State',
       'Home.Ownership', 'Monthly.Income', 'FICO.Range', 'Open.CREDIT.Lines',
       'Revolving.CREDIT.Balance', 'Inquiries.in.the.Last.6.Months',
       'Employment.Length'],
      dtype='object')

In [30]:
catagorical_col = ['Interest.Rate','Loan.Length', 'Loan.Purpose', 'Debt.To.Income.Ratio', 'State','Home.Ownership',
                   'FICO.Range', 'Open.CREDIT.Lines','Inquiries.in.the.Last.6.Months', 'Employment.Length' ]
continious_col = ['Amount.Requested', 'Amount.Funded.By.Investors', 'Monthly.Income','Revolving.CREDIT.Balance']

In [31]:
for col in catagorical_col:
    loan_data[col] = loan_data[col].fillna(loan_data[col].mode()[0])
loan_data[continious_col] = loan_data[continious_col].fillna(loan_data[continious_col].mean())
loan_data.head()

,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
0,20000.0,20000.0,8.90,36 months,debt_consolidation,14.90%,SC,MORTGAGE,6541.67,735-739,14.0,14272.0,2.0,< 1 year
1,19200.0,19200.0,12.12,36 months,debt_consolidation,28.36%,TX,MORTGAGE,4583.33,715-719,12.0,11140.0,1.0,2 years
2,35000.0,35000.0,21.98,60 months,debt_consolidation,23.81%,CA,MORTGAGE,11500.00,690-694,14.0,21977.0,1.0,2 years
3,10000.0,9975.0,9.99,36 months,debt_consolidation,14.30%,KS,MORTGAGE,3833.33,695-699,10.0,9346.0,0.0,5 years
4,12000.0,12000.0,11.71,36 months,credit_card,18.78%,NJ,RENT,3195.00,695-699,11.0,14469.0,0.0,9 years

In [32]:
loan_data.isna().sum()

Amount.Requested                  0
Amount.Funded.By.Investors        0
Interest.Rate                     0
Loan.Length                       0
Loan.Purpose                      0
Debt.To.Income.Ratio              0
State                             0
Home.Ownership                    0
Monthly.Income                    0
FICO.Range                        0
Open.CREDIT.Lines                 0
Revolving.CREDIT.Balance          0
Inquiries.in.the.Last.6.Months    0
Employment.Length                 0
dtype: int64

In [34]:
loan_data['Interest.Rate'] = (loan_data['Interest.Rate'].str.strip('%').astype(float))

AttributeError: Can only use .str accessor with string values!

In [35]:
stats.pearsonr( loan_data['Interest.Rate'], loan_data['Amount.Requested'] )

PearsonRResult(statistic=0.33240946119905757, pvalue=1.4646809963082337e-65)

Business conclusion:

We reject H0 - No relationship as p-value is very less

Ha - There is a relationship among the variables with 95% accuracy Hence Intrest rate is varied for different loan amounts

#### b. Loan length is directly effecting intrest rate.

In [36]:
loan_data.columns

Index(['Amount.Requested', 'Amount.Funded.By.Investors', 'Interest.Rate',
       'Loan.Length', 'Loan.Purpose', 'Debt.To.Income.Ratio', 'State',
       'Home.Ownership', 'Monthly.Income', 'FICO.Range', 'Open.CREDIT.Lines',
       'Revolving.CREDIT.Balance', 'Inquiries.in.the.Last.6.Months',
       'Employment.Length'],
      dtype='object')

In [37]:
loan_data.nunique

<bound method DataFrame.nunique of       Amount.Requested  Amount.Funded.By.Investors  Interest.Rate Loan.Length  \
0              20000.0                    20000.00           8.90   36 months
1              19200.0                    19200.00          12.12   36 months
2              35000.0                    35000.00          21.98   60 months
3              10000.0                     9975.00           9.99   36 months
4              12000.0                    12000.00          11.71   36 months
...                ...                         ...            ...         ...
2495           30000.0                    29950.00          16.77   60 months
2496           16000.0                    16000.00          14.09   60 months
2497           10000.0                    10000.00          13.99   36 months
2498            6000.0                     6000.00          12.42   36 months
2499            9000.0                     5242.75          13.79   36 months

            Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
0     debt_consolidation               14.90%    SC       MORTGAGE
1     debt_consolidation               28.36%    TX       MORTGAGE
2     debt_consolidation               23.81%    CA       MORTGAGE
3     debt_consolidation               14.30%    KS       MORTGAGE
4            credit_card               18.78%    NJ           RENT
...                  ...                  ...   ...            ...
2495  debt_consolidation               19.23%    NY       MORTGAGE
2496    home_improvement               21.54%    MD            OWN
2497  debt_consolidation                4.89%    PA       MORTGAGE
2498      major_purchase               16.66%    NJ           RENT
2499  debt_consolidation                6.76%    NY           RENT

      Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
0            6541.67    735-739               14.0                   14272.0
1            4583.33    715-719               12.0                   11140.0
2           11500.00    690-694               14.0                   21977.0
3            3833.33    695-699               10.0                    9346.0
4            3195.00    695-699               11.0                   14469.0
...              ...        ...                ...                       ...
2495         9250.00    705-709               15.0                   45880.0
2496         8903.25    740-744               18.0                   18898.0
2497         2166.67    680-684                4.0                    4544.0
2498         3500.00    675-679                8.0                    7753.0
2499         3875.00    670-674                7.0                    7589.0

      Inquiries.in.the.Last.6.Months Employment.Length
0                                2.0          < 1 year
1                                1.0           2 years
2                                1.0           2 years
3                                0.0           5 years
4                                0.0           9 years
...                              ...               ...
2495                             1.0           8 years
2496                             1.0         10+ years
2497                             0.0         10+ years
2498                             0.0           5 years
2499                             0.0         10+ years

[2500 rows x 14 columns]>

In [38]:
loan_data['Loan.Length'].nunique()

2

In [42]:
loan_data['Loan.Length'].value_counts()

Loan.Length
36 months    1952
60 months     548
Name: count, dtype: int64

In [46]:
usage = 'Interest.Rate'

In [47]:
 #data processing for the test
s1 = loan_data.loc[ loan_data['Loan.Length'] == '36 months', usage ]
s2 = loan_data.loc[ loan_data['Loan.Length'] == '60 months', usage ]

print( 'mean s1:', s1.mean(), '| mean s2:', s2.mean() )

mean s1: 12.126173155737705 | mean s2: 16.407463503649634

In [48]:
stats.f_oneway( s1, s2)

F_onewayResult(statistic=548.3261736091927, pvalue=8.529143234124184e-110)

#### c. Inrest rate varies for different purpose of loans

In [50]:
obs_freq = pd.crosstab( loan_data['Interest.Rate'], loan_data['Loan.Purpose'] )

In [51]:
obs_freq.T

Interest.Rate,5.42,5.79,5.99,6.00,6.03,6.17,6.54,6.62,6.76,6.91,...,23.28,23.33,23.63,23.76,23.83,23.91,24.20,24.33,24.70,24.89
Loan.Purpose,,,,,,,,,,,,,,,,,,,,,
car,0,1,0,0,3,0,0,3,0,1,...,0,0,0,0,0,0,0,0,0,0
credit_card,2,2,1,0,7,0,1,11,0,1,...,1,0,0,1,0,0,0,0,1,0
debt_consolidation,0,5,4,0,24,1,3,24,2,5,...,3,1,1,5,2,1,1,1,1,1
educational,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
home_improvement,5,2,3,1,5,1,1,4,0,0,...,0,0,0,0,0,0,0,0,0,0
house,0,0,1,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
major_purchase,1,1,1,0,6,2,0,2,0,1,...,0,0,0,0,0,0,0,0,0,0
medical,1,0,0,0,2,0,1,1,0,0,...,1,0,0,0,0,0,0,0,0,0
moving,0,1,0,0,0,1,0,0,1,0,...,0,0,0,1,0,0,0,0,0,1
other,0,1,0,0,4,0,0,1,0,0,...,2,0,0,0,0,0,0,0,0,0
renewable_energy,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
small_business,0,1,0,0,4,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
vacation,1,0,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
wedding,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [53]:
stats.chi2_contingency( obs_freq.T )

Chi2ContingencyResult(statistic=4378.952129804514, pvalue=8.396099408489274e-20, dof=3562, expected_freq=array([[0.22  , 0.28  , 0.2   , ..., 0.02  , 0.04  , 0.04  ],
       [1.9536, 2.4864, 1.776 , ..., 0.1776, 0.3552, 0.3552],
       [5.7508, 7.3192, 5.228 , ..., 0.5228, 1.0456, 1.0456],
       ...,
       [0.3828, 0.4872, 0.348 , ..., 0.0348, 0.0696, 0.0696],
       [0.0924, 0.1176, 0.084 , ..., 0.0084, 0.0168, 0.0168],
       [0.1716, 0.2184, 0.156 , ..., 0.0156, 0.0312, 0.0312]]))

In [54]:
loan_data.rename(columns ={'Home.Ownership': 'home_ownership','FICO.Range':'FICO_Range'},inplace = True )

In [55]:
loan_data.head(2)

,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,home_ownership,Monthly.Income,FICO_Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
0,20000.0,20000.0,8.90,36 months,debt_consolidation,14.90%,SC,MORTGAGE,6541.67,735-739,14.0,14272.0,2.0,< 1 year
1,19200.0,19200.0,12.12,36 months,debt_consolidation,28.36%,TX,MORTGAGE,4583.33,715-719,12.0,11140.0,1.0,2 years

#### d. There is relationship between FICO scores and Home Ownership. It means that, People with owning home will have high FICO scores.

In [56]:
obs_freq = pd.crosstab(loan_data.home_ownership, loan_data.FICO_Range)
obs_freq

FICO_Range,640-644,645-649,650-654,655-659,660-664,665-669,670-674,675-679,680-684,685-689,...,780-784,785-789,790-794,795-799,800-804,805-809,810-814,815-819,820-824,830-834
home_ownership,,,,,,,,,,,,,,,,,,,,,
MORTGAGE,0,1,1,0,41,52,68,79,55,61,...,21,12,15,7,7,6,5,6,0,1
NONE,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
OTHER,0,0,0,1,0,0,1,1,2,0,...,0,0,0,0,0,0,0,0,0,0
OWN,1,0,0,0,17,18,13,11,9,10,...,3,2,1,1,3,2,1,0,1,0
RENT,4,2,0,3,67,75,91,75,91,65,...,4,5,4,5,2,3,2,0,0,0